@use "../../common/styles/theme/dark";
@use "../../common/styles/theme/light";

.App {
  text-align: center;
  height: 100%;
}

// theme
body.dark {
  & .App {
    background-color: dark.$bg;
    color: dark.$text;
  }
}

body.light {
  & .App {
    background-color: light.$bg;
    color: light.$text;
  }
}
