@use "../colors";

$text: colors.$white;
$bg: colors.$dark;
$link: colors.$blue-light;
$tint: colors.$dark-tint;
$valid: linear-gradient(137deg, #051802 15%, green);
$almost: linear-gradient(137deg, #b48109 45%, #b4b44a);
$invalid: linear-gradient(137deg, #4c4c4c 15%, #733030);
$action-bg: #1f1801;
$action-text: #057567;
$action-activation: #21649b;
$action-activation-bg: rgba(31, 24, 1, 0.4);
$action-shadow: seagreen;
